@model IEnumerable<DTO.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>{{models.helloAngular}}</h1>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="/#/Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.developer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @*<a href="/#/Edit">Edit</a>*@
            @*@Html.ActionLink("Details", "Details", new { id=item.id }) |*@
            <a href="/#/Details/2">Details</a>|
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
            @*<a href="/#/Delete">Delete</a>*@
        </td>
    </tr>
}

</table>
